<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="uDateFoldersySettings" type="uDateFoldersy.Configuration.uDateFoldersySettingsSection, uDateFoldersy" requirePermission="false" />
	</configSections>
	<uDateFoldersySettings configSource="uDateFoldersy.config" />
</configuration>